<div class="container">
    <div class="row col-md-8">
        <h2>Daftar Contact</h2>

        <a href="/contact/add" class="btn btn-primary mb-2 col-lg-4 col-md-6 col-xs-12">Tambah Data Contact</a>

        <% if (msg.length !== 0) { %>
            <div class="alert alert-success" role="alert"><%= msg %></div>
        <% } %>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
                <th scope="col">No HP</th>
                <th scope="col">Aksi</th>
            </tr>
            </thead>
            <tbody>
                <% if (contacts.length === 0) { %>
                    <tr>
                        <td colspan=4>
                            <div class="alert alert-danger fw-bold" role="alert">
                                Data contact masih kosong.
                            </div>
                        </td>
                    </tr>
                <% } %>
                <% contacts.forEach( (contact, i) => { %>
                    <tr>
                        <th scope="row"><%= i+1 %> </th>
                        <td> <%= contact.nama %> </td>
                        <td> <%= contact.noHP %> </td>
                        <td>
                            <a href="/contact/<%= contact.nama %> " class="btn btn-success badge rounded-pill">
                                <i class="bi bi-info-circle"></i> detail
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>